.bg-pizza {
    background-image: url(https://images.unsplash.com/photo-1571997478779-2adcbbe9ab2f?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 100vh;
}

button[type="submit"]
{
    background-color: rebeccapurple;
    border: rebeccapurple;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #474545;
}

body::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.bg-simple {
    background-image: url("/images/background.png");
    height: 200vh;
}

.bg-custom-dark {
    background-color: #212129;
}

.navbar-scrolled {
    background-color: #333 !important;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 0;
  }

.navbar-top {
    background-color: transparent !important;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 0;
  }

.icon {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    display: block;
}

.vh-75 {
    height: 75vh;
}

.dynamic-shadow{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.dynamic-shadow:hover {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
}

.bottom-slide {
    position: relative;
    animation: appearFromBottom 0.7s ease-out;
}

@keyframes appearFromBottom {
  from {
      transform: translateY(100%);
  }
  to {
      transform: translateY(0);
  }
}

.btn-custom {
    background-color: #02006c !important;
    border-color: #02006c !important;
}

.btn-custom:hover {
    background-color: #010057 !important;
    border-color: #010057 !important;
}

.order-item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

/* radio buttons */
input[type="radio"]{
    -webkit-appearance: none;
}
label{
   height: 120px;
   width: 170px;
   border: 3px solid #ffffff;
   margin: auto;
   border-radius: 10px;
   position: relative;
   color: #ffffff;
   transition: 0.5s;
}
.bi {
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%); 
}
label>span {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 80%);
}
input[type="radio"]:checked + label {
	background-color: #ffffff;
	color: #333;
	box-shadow: 0 15px 45px rgba(184, 184, 184, 0.2);
}
input[type="radio"]:hover + label{
	box-shadow: 0 15px 45px rgba(184, 184, 184, 0.2);
}